@import '../../styles/variables.scss';

main {
  flex: 1;
  max-width: $max-width;
  min-width: $max-width;
  padding: 0 10px;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  main {
    min-width: 90vw;
  }
}