@import '../../styles/variables.scss';

header {
  display: flex;
  justify-content: left;
  border-bottom: black solid 1px;
  max-width: $max-width;
  min-width: $max-width;
  margin: auto;
  a {
    position: relative;
    margin: 20px;
    text-decoration: none;
    div.arrow {
      position: absolute;
      width: 18px;
      height: 18px;
      opacity: 0;
      top: -8px;
      left: -18px;
    }

    &:hover {
      div.arrow {
        opacity: .2;
      }      
    }

    &.active {
      div.arrow {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  header {
    min-width: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-around;
  }
}